#activity-data {
    display: none;
}

#loader {
    border-top: 16px solid black;
    border-right: 16px solid black;
    border-bottom: 16px solid black;

    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;

    position:absolute; /*it can be fixed too*/
    left:0; right:0;
    top:0; bottom:0;
    margin:auto;

    /*this to solve "the content will not be cut when the window is smaller than the content": */
    max-width:100%;
    max-height:100%;
    overflow:auto;

    display: none;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#buttons {
    margin: auto;
    width: 50%;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.button {
    display:inline-block;
    padding:0.5em 3em;
    border:0.16em solid #000000;
    margin:0 0.3em 0.3em 0;
    box-sizing: border-box;
    text-decoration:none;
    text-transform:uppercase;
    font-family:'Roboto',sans-serif;
    font-weight:400;
    color:#000000;
    text-align:center;
    transition: all 0.15s;
}
.button2:hover{
    color:#000000;
    border-color:#000000;
}
.button:active{
    color:#000000;
    border-color:#000000;

}

h1 {
    color: #ffffff;
    font-family: 'Source Sans Pro';
    font-size: 120px;
    font-weight: 600;
    line-height: 80px;
    letter-spacing: -0.03em;
    margin-bottom: 36px;
    margin-top: 0px;
    padding-top: 100px;
    padding-left: 50px;
}

h1:before {
    background: #111;
    content: '';
    display: block;
    height: 18px;
    margin-bottom: 36px;
    width: 64px;
}

h2 {
   margin-top: -10px;
}
p {
    color: #fff;
    font-family: 'Source Sans Pro';
    font-size: 38px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -0.02em;

}

a {
    color: #fff;	border-bottom: 4px solid #fff;
    font-family: 'Source Sans Pro';
    font-weight: 700;
    text-decoration: none;
}

a:hover {
    border-bottom: 4px solid #111;
    color: #111;
}

.div-header {
    background-color: #024959;
}

.div-header p {
    margin-bottom: 48px;
    padding-top: 50px;
    padding-left: 50px;
    padding-bottom: 50px;
}

.div-description {
    background-color: #BF2A2A;
}

.div-description p {
    font-size: 20px;
    color: #ffffff;
    padding-top: 50px;
    padding-left: 50px;
    padding-bottom: 30px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.div-about {
    margin-top: -20px;
    background-color: #024959;
}

.seperate {
    background-color: #F2C777;
    height: 30px;
    width: 100%;
}

.div-about p {
    font-size: 20px;
    color: #ffffff;
    padding-top: 50px;
    padding-left: 50px;
    padding-bottom: 30px;
}

.div-user-input {
    padding-top: 50px;
    padding-left: 50px;
    padding-bottom: 30px;
    font-size: 20px;
    background-color: #092140;
    font-family: 'Source Sans Pro';
    color: #ffffff;
}

body {
    margin: 0;
}

.container {
    /* Graph canvas height */
    height: 400px;
}

.highlight-yellow {
    color: #F2C777;
}

.image-instruction {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.image-small {
    width: 60px;
    margin-bottom: -20px;
}

.images-container {
    padding-bottom: 50px;
}

.backward {
    text-decoration: none;
    border-bottom: none;
}
.backward:hover {
    border-bottom: none;
}
.backward i {
    padding-top: 30px;
}